$waves-color-default:   rgba(0, 0, 0, 0.2) !default;
$waves-color-light:     rgba(255, 255, 255, 0.45) !default;
$waves-color-red:       rgba(244, 67, 54, .70) !default;
$waves-color-yellow:    rgba(255, 235, 59, .70) !default;
$waves-color-orange:    rgba(255, 152, 0, .70) !default;
$waves-color-purple:    rgba(156, 39, 176, 0.70) !default;
$waves-color-green:     rgba(76, 175, 80, 0.70) !default;
$waves-color-teal:      rgba(0, 150, 136, 0.70) !default;

$waves-ripple-color: $waves-color-default !default;
$waves-ripple-opacity: 1 !default;
$waves-ripple-radius: 50% !default;
